<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.mapper.StudentMapper">
    <select id="findAll" resultType="Student">
        SELECT * FROM student
    </select>
    <!-- # 和 $ 有区别，后者不防注入 -->
    <select id="findById" parameterType="int" resultType="Student">
        SELECT * FROM student WHERE id = #{id}
    </select>
    <!-- 插入数据 -->
</mapper>